body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://i.pinimg.com/736x/8d/95/f0/8d95f0098999bad95645970afc1810d5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    color: #2b6cb5;
    margin-bottom: 20px;
}

.TCN {
    font-size: 22px;
    font-weight: bold;
    color: #77a3d4;
    margin-bottom: 20px;
}

.cacquyen {
    display: inline-block;
    background-color: #2b6cb5;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.cacquyen:hover {
    background-color: #2b6cb5;
}