*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.thanhtoan {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 80px; 
    display: flex;        
    flex-direction: column; 

}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    color: #444;
}

h3 {
    text-align: right;
    margin-top: auto;  
    color: #000;
}

form {
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #003d79;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #003d79;
}


