* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.anhlon {
    width: 100%;
    background: white;
}

.anhnen {
    width: 100vw;
    height: 100vh;
}

.anhnen img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.anhqc .container3 .tieude {
    padding-top: 150px;
    color: #003d79;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
}

.inner-content a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inner-image {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0 70px;
    text-align: center;
}

.inner-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer .logo img {
    height: 70px;
    width: auto;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #858990;
    border: none;
    margin: 20px auto;
}

.end .from {
    color: #003d79;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.end .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.anhqc .container3 .tieude {
    
    padding-top: 40px;
}
.end .social-icons img {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
}
