
.don-hang-thanh-cong {
    width: 70%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    background-color: #fff; 
}


.thong-tin-khach-hang {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.thong-tin-san-pham {
    margin-top: 10px;
}

.thong-tin-san-pham table {
    width: 100%;
    border-collapse: collapse;
}

.thong-tin-san-pham th, .thong-tin-san-pham td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.thong-tin-san-pham th {
    background-color: #f8f8f8;
}

.thong-tin-san-pham img {
    vertical-align: middle;
    margin-left: 5px;
    width: 50px;
    height: auto;
}

